body{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #05162c;
  background-image: 
    repeating-linear-gradient(to right , transparent 0 50px,rgba(128, 128, 128, 0.589) 50px 51px),
    repeating-linear-gradient(to bottom , transparent 0 50px,rgba(128, 128, 128, 0.336) 50px 51px);
}
.form{
  background-color: white;
  width: 80px;
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 10px;
  padding:0 5px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}
.form input{
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 100%;
}
.form input::-webkit-color-swatch-wrapper{
  padding: 0;
}
.form input::-webkit-color-swatch{
  border-radius: 50px;
}
.form button{
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.list{
  position: relative;
  width: 100%;
  height: 100%;
}
.note textarea{
  cursor: grab;
  resize: none; 
  width: 250px;
  height: 290px;
  position: relative;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-top:30px solid cornflowerblue ;
  outline: none;
  color: white;
  background-color: #333333;
  border-radius: 23px;
}
.note{
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 50px;

}
.note span{
color: white; /* base color */
  mix-blend-mode: difference;
  position: absolute;
  top: 6px;
  right: 13px;
  font-size: 20px;
  cursor: pointer;
}